[submodule "file-line"]
	path = file-line
	url = https://github.com/bogado/file-line.git
[submodule "bufexplorer"]
	path = bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "Smart-Tabs"]
	path = Smart-Tabs
	url = https://github.com/vim-scripts/Smart-Tabs
[submodule "vim-clang-format"]
	path = vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "vim-operator-user"]
	path = vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "clang_complete"]
	path = clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim-cmake-syntax"]
	path = vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
